<?xml version='1.0' encoding='utf-8'?>
<settings>
  <run_mode>fixed source</run_mode>
  <particles>5000</particles>
  <batches>10</batches>
  <inactive>2</inactive>
  <source strength="1.0">
    <space type="point">
      <parameters>0 0 0</parameters>
    </space>
  </source>
  <photon_transport>false</photon_transport>
  <dagmc>true</dagmc>
  <temperature_method>interpolation</temperature_method>
</settings>
