<?xml version='1.0' encoding='utf-8'?>
<settings>
  <run_mode>fixed source</run_mode>
  <particles>100</particles>
  <batches>2</batches>
  <inactive>0</inactive>
  <source strength="1.0">
    <space type="point">
      <parameters>0 0 0</parameters>
    </space>
  </source>
  <photon_transport>false</photon_transport>
  <verbosity>0</verbosity>
  <temperature_method>interpolation</temperature_method>
</settings>
