name: BuildTest
on:
  workflow_dispatch:

  push:
    branches:
       - main
  pull_request:
    branches:
       - main

jobs:
  docker-build-test-ubuntu:
    runs-on: ubuntu-latest
    name: BuildTestCoverallsUbuntu
    env:
      COVERALLS_TOKEN : ${{ secrets.COVERALLS_TOKEN }}
    steps:
      # First check out the repository to get the docker file
      - name: Checkout
        uses: actions/checkout@v2
      # Now build in a container with all deps
      - name: DockerBuildTestPR
        if:  ${{ github.event.pull_request.head.sha != '' }}
        run: docker build -t ci-aurora-ubuntu -f docker/aurora-ubuntu/Dockerfile .  --build-arg test_coverage=true --build-arg coveralls_token=$COVERALLS_TOKEN --build-arg coveralls_branch=$GITHUB_HEAD_REF
      - name:  DockerBuildTestPush
        if:  ${{ github.event.pull_request.head.sha == '' }}
        run: docker build -t ci-aurora-ubuntu -f docker/aurora-ubuntu/Dockerfile .  --build-arg test_coverage=true --build-arg coveralls_token=$COVERALLS_TOKEN --build-arg coveralls_branch=${GITHUB_REF##*/}

  docker-build-test-fedora:
    runs-on: ubuntu-latest
    name: BuildTestFedora
    steps:
      # First check out the repository to get the docker file
      - name: Checkout
        uses: actions/checkout@v2
      # Now build in a container with all deps
      - name: DockerBuildTest
        if:  ${{ github.event.pull_request.head.sha != '' }}
        run: docker build -t ci-aurora-fedora -f docker/aurora-fedora/Dockerfile .